############################
# Maven / Gradle build
############################
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

build/
!**/src/main/**/build/
!**/src/test/**/build/

############################
# Allure (generated)
############################
allure-results/
allure-report/

# If you store Allure CLI inside project (лучше не хранить в репо)
.allure/

############################
# Node / Playwright (если у тебя есть package.json)
############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.playwright/
playwright-report/
test-results/

############################
# IntelliJ IDEA
############################
.idea/
*.iws
*.iml
*.ipr
out/

############################
# Eclipse
############################
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

############################
# NetBeans
############################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

############################
# VS Code
############################
.vscode/

############################
# OS junk
############################
.DS_Store
Thumbs.db